<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <Layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </Layout>
    </Appender>

    <Appender name="BING" class="ch.qos.logback.core.ConsoleAppender">
        <Layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </Layout>
    </Appender>

    <Appender name="LAN" class="ch.qos.logback.core.ConsoleAppender">
        <Layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} 0-0 %msg%n</Pattern>
        </Layout>
    </Appender>

    <!--<Logger name="com.bing" level="TRACE">-->
        <!--<Appender-ref ref="BING"/>-->
    <!--</Logger>-->

    <!--<Logger name="com.lan" level="TRACE">-->
        <!--<Appender-ref ref="LAN"/>-->
    <!--</Logger>-->

    <ROOT level="DEBUG">
        <Appender-ref ref="STDOUT"/>
    </ROOT>

</Configuration>